[user]
	email = zool.bib@gmail.com
	name  = mrzool
[credential]
	helper = cache
[color]
	ui = true
[core]
	excludesfile = ~/.cvsignore
	editor = vim
	pager = diff-so-fancy | less --tabs=4 -RFX
[push]
	default = simple
	followTags = true
[merge]
	tool = vimdiff
[pager]
       diff = diff-so-fancy | less --tabs=1,5 -RFX
       show = diff-so-fancy | less --tabs=1,5 -RFX
[alias]
	st  = status
  a   = add
  cm  = commit -v
  acm = commit -av
  ps  = push
  pl  = pull
  co  = checkout
	br  = branch
	unstage = reset HEAD --
	last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	alias = ! git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /
  compare = "!f() { git log --oneline $1..$2;  }; f"
[status]
	submodulesummary = true
[github]
	user = mrzool
[ghi]
	token = !security find-internet-password -a mrzool -s github.com -l 'ghi token' -w
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	first-run = false
