*
!.gitignore
!aliases
!bashrc
!compton.conf
!conkyrc
!gitconfig
!muttrc
!openbox
!openbox/autostart
!openbox/menu.xml
!openbox/rc.xml
!symlink.sh
!terminator
!terminator/config
!tint2rc
!vimrc
!vim/
!vim/**
!bin/
!bin/**
