ncmpcpp/.ncmpcpp/*
!ncmpcpp/.ncmpcpp/bindings
!ncmpcpp/.ncmpcpp/config
mpd/.mpd/*
!mpd/.mpd/mpd.conf
mutt/.mutt/*
!mutt/.mutt/muttrc
!mutt/.mutt/mailcap
!mutt/.mutt/dark.256.muttrc.erb
!mutt/.mutt/view_attachment.sh
ssh/.ssh/*
!ssh/.ssh/config
espanso/Library/Preferences/espanso/match/packages

