# vi:syntax=sh

alias refresh='source ~/.bash_profile'

alias c='clear'
alias e='exit'

alias -- -='cd -'

alias ls='exa --group-directories-first'

alias l='ls -CF -lh'
alias ll='ls -l'
alias la='ls -a'

alias ct='column -t'
alias info='info --vi-keys'

alias mount='diskutil mount'
alias umount='diskutil unmount'

# Get internal and external IP address
alias ipi='ipconfig getifaddr en0'
alias ipe='curl ipinfo.io/ip'

# Services
alias a2restart="sudo service apache2 restart"
alias sss='python -m http.server 8888' # Start Simple Server
alias sps='php -S localhost:3000' # Start PHP Server

# Utilities
alias vi='vim'
alias unrar="unrar x"
alias gtypist="gtypist -S"
alias ctags="`brew --prefix`/bin/ctags"
alias ed='ed -p:'
alias ql='qlmanage -p "$@" 2> /dev/null' # 'Quick look' on Mac OS
alias wget='wget -c ' # resume download automatically
alias addup="paste -sd+ - | bc"

# VPN Management
vpnconnect() {
  osascript -e "tell application \"Viscosity\" to connect \"$(nordvpn-server-find -r).tcp\""
    }
vpndisconnect() {
  osascript -e "tell application \"Viscosity\" to disconnectall"
    }

# Get last command (https://unix.stackexchange.com/a/38075/63527)
getlast() {
    fc -ln "$1" "$1" | sed '1s/^[[:space:]]*//'
}

# Enable/disable Maccy
alias maccy-disable="defaults write org.p0deje.Maccy ignoreEvents true"
alias maccy-enable="defaults write org.p0deje.Maccy ignoreEvents false"

# Newsbeuter
alias reads="newsbeuter -C ~/dotfiles/newsbeuter/.newsbeuter/config-or"
alias news="newsbeuter -u ~/Dropbox/feeds/urls-news"
alias jobz="newsbeuter -u ~/Dropbox/feeds/urls-jobs"

# Linux things
# alias backport='sudo apt-get -t wheezy-backports install'
# alias installed='dpkg --get-selections'
# alias copy='xclip -sel clip'
